<div id="collection-list">
  <h1 id="about">Links</h1>
  {% for collection in site.collections %}
    {% if site.customer-collections contains collection.label and collection.name != "归档" %}
      <a href="{{ '/collections/' | append: collection.label }}">{{ collection.name | capitalize }}</a>
    {% endif %}
  {% endfor %}
  {% for collection in site.collections %}
    {% if site.customer-collections contains collection.label and  collection.name == "归档" %}
      <a href="{{ '/collections/' | append: collection.label }}">{{ collection.name | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>