/* 通用样式 */
#collection-list {
    padding: 1rem;
    border-radius: 5px; /* 轻微的圆角 */
    margin-bottom: 1rem;
    padding-top: 5.5em;
}

#collection-list h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#collection-list a {
    display: block; /* 让链接占满整行 */
    padding: 0.25rem 0; /* 上下留点空间 */
    text-decoration: none; /* 去掉下划线 */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#collection-list a:hover {
    color: #0056b3; /* 鼠标悬停时的颜色 */
    background-color: #e2e6ea; /* 鼠标悬停时的背景颜色 */
    text-decoration: none; /* 鼠标悬停时依然去掉下划线 */
}

/* 日间模式样式 */
[data-theme="light"] #collection-list {
    background-color: #f8f9fa; /* 浅灰色背景 */
    color: #333; /* 深色文字 */
}

[data-theme="light"] #collection-list a {
    color: #3b818c; /* Bootstrap 默认的链接颜色 */
}

/* 夜间模式样式 */
[data-theme="dark"] #collection-list {
    background-color: rgba(170,177,182,0.26); /* 深色背景 */
    color: #f8f9fa; /* 浅色文字 */
}

[data-theme="dark"] #collection-list a {
    color: #DEE2E6; /* 淡蓝色链接 */
}

[data-theme="dark"] #collection-list a:hover {
    color: #DEE2E6; /* 鼠标悬停时的颜色 */
    background-color: #555; /* 鼠标悬停时的背景颜色 */
}

/* 回到顶部按钮样式 */
#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

/* 回到底部按钮样式 */
#back-to-bottom {
    position: fixed;
    bottom: 60px;
    right: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

@media (max-width: 480px) {
    /* 回到顶部按钮样式 */
    #back-to-top {
        bottom: 80px;
        right: 20px;
        border-radius: 5px;
        padding: 10px;
    }

    /* 回到底部按钮样式 */
    #back-to-bottom {
        bottom: 40px;
        right: 20px;
        border-radius: 5px;
        padding: 10px;
    }
}

/* 日间模式样式 */
[data-theme="light"] #back-to-top {
    background-color: #f8f9fa; /* 浅灰色背景 */
    color: #333; /* 深色文字 */
}

/* 日间模式样式 */
[data-theme="light"] #back-to-bottom {
    background-color: #f8f9fa; /* 浅灰色背景 */
    color: #333; /* 深色文字 */
}

/* 夜间模式样式 */
[data-theme="dark"] #back-to-top {
    background-color: #333; /* 深色背景 */
    color: #f8f9fa; /* 浅色文字 */
}
/* 夜间模式样式 */
[data-theme="dark"] #back-to-bottom {
    background-color: #333; /* 深色背景 */
    color: #f8f9fa; /* 浅色文字 */
}

.article-stats {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
}

.article-stats span {
    display: inline-block;
    font-size: 1.0rem;
    margin-right: 10px;
}

.article-stats time {
    /*display: inline-block;*/
    font-size: 1.3rem;
    margin-right: 20px;
}

.article-stats i {
    margin-right: 5px;
    color: #007bff;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    row-gap: 1px;
    margin-top: 30px;
}

.skill-badge {
    margin: 1px;
}

@media (max-width: 480px) {
    .skills-container {
        justify-content: center;
        margin-top: 20px;
        gap: 1px;
        row-gap: 0.1rem;
    }

    .skill-badge {
        margin: 1px; /* 减小边距 */
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 10px 15px;
    background-color: #f8f9fa;
    color: #343A40;
    text-decoration: none;
    border-radius: 5px;
}

.pagination span.disabled {
    background-color: #e2e6ea;
    color: #343A40;
}

.pagination a:hover {
    background-color: #e2e6ea;
}

/* 日间模式样式 */
[data-theme="light"] .pagination a,
[data-theme="light"].pagination span {
    background-color: #f8f9fa;
    color: #343A40;
}

/* 夜间模式样式 */
[data-theme="dark"]  .pagination a,
[data-theme="dark"].pagination span {
    background-color: #343A40; /* 深色背景 */
    color: #f8f9fa; /* 浅色文字 */
}

main h1.post-title {
    text-align: center;
}

#busuanzi_container_site_pv {
    display: inline-block;
    font-size: .875em;
    font-weight: 300;
}

#busuanzi_container_site_uv {
    display: inline-block;
    font-size: .875em;
    font-weight: 300;
}


/*----------*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#collection-list .toggle-link {
    display: none; /* 默认情况下隐藏 */
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

[data-theme="light"] #collection-list .toggle-link {
    color: #44494D;
}

[data-theme="dark"] #collection-list .toggle-link {
    color: #F8F9FA;
}

#links-container {
    display: block; /* 默认显示 */
}

@media (max-width: 600px) {
    #links-container {
        display: none; /* 在小屏幕上默认隐藏 */
    }

    #collection-list .toggle-link {
        display: inline-block; /* 在小屏幕上显示切换按钮 */
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-button {
    display: none; /* 默认情况下隐藏 */
}

@media (max-width: 600px) {
    #toggle-button {
        display: inline-block; /* 在小屏幕上显示 */
    }
}

#jumper-home svg {
  /* 250% of its original size */
    transform: scale(1.4);
    margin-bottom: 0.6rem;
    margin-right: 0.4rem;
}

#slogan svg {
  /* 250% of its original size */
    transform: scale(1);
    margin-bottom: 0.3rem;
}

blockquote {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; /* 或者使用 break-word */
}

#search-toggle svg {
    transform: scale(1);
    margin-right: 1rem;
}

#search-toggle:hover, #search-toggle:focus {
    border-bottom: none; /* 移除边框下划线 */
    color: #d14; /* 如果你还想保留悬停时的颜色变化，可以保留这一行 */
}

.search-highlight {
  background-color: yellow;
}

/*#progress-bar-container {*/
/*  width: 100%;*/
/*  background-color: #f3f3f3;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 5px;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*  margin: 10px 0;*/
/*  overflow: hidden;*/
/*}*/

/*#progress-bar {*/
/*  height: 20px;*/
/*  background-color: #4CAF50;*/
/*  border-radius: 5px;*/
/*  transition: width 0.5s ease;*/
/*}*/

.progress {
    width: 100%; /* 确保进度条容器宽度为 100% */
    height: 20px; /* 设置进度条容器的高度 */
    margin-top: 40px;
}


.progress-bar.custom-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #24282C;
    background: #dfdbc5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: width 0.5s ease;
    font-family: 'Open Sans', sans-serif;

}

/** 代码块 **/
/* 滚动条整体样式 */
::-webkit-scrollbar {
    width: 5px;  /* 滚动条的宽度 */
    height: 5px;  /* 滚动条的高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    /*background-color: #2a2a2a;  !* 滑块的背景颜色 *!*/
    border-radius: 10px;  /* 滑块的边角圆滑度 */
    /*border: 3px solid #1e1e1e;  !* 滑块的边框及颜色 *!*/
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    /*background-color: #1e1e1e;  !* 轨道的背景颜色 *!*/
    /*border-radius: 10px;  !* 轨道的边角圆滑度 *!*/
}

/* 滚动条滑块:hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* 滑块的背景颜色（鼠标悬停时） */
    background-color: rgba(42, 42, 42, 0.1); /* 滑块的背景颜色和透明度 */
}

/* 高亮显示代码块的基本样式 */
/* 标题栏样式 */
/* 代码块容器样式 */
/* 标题栏样式 */
.code-title-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px; /* 减少 padding 减小标题栏的高度 */
    background-color: #333;
    color: white;
    font-size: 0.75em; /* 可以减小字体大小 */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 10;
}

/* 复制按钮样式 */
.copy-btn {
    padding: 2px 8px; /* 也可以适当减小按钮的 padding */
    background-color: #333333;
    color: #F9F2EC;
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;*/
    font-size: 0.75em; /* 保持按钮的字体大小与标题栏一致 */
}

.copy-btn:hover {
/*    background-color: #e9e9e9;*/
}

/* 代码块容器样式 */
[class^="language-"]:not(.language-plaintext).highlighter-rouge,
[class*=" language-"]:not(.language-plaintext).highlighter-rouge {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1em 0;
    padding-top: 30px; /* 根据标题栏的高度调整 */
}

/* 代码块样式 */
/*.language-sh.highlighter-rouge pre {*/
/*    margin-top: 0;*/
/*    padding: 5px 8px; !* 标题栏变小后，可能需要减小内边距以保持视觉上的平衡 *!*/
/*    overflow-x: auto;*/
/*}*/
[class^="language-"]:not(.language-plaintext).highlighter-rouge pre,
[class*=" language-"]:not(.language-plaintext).highlighter-rouge pre {
    margin-top: 0;
    padding: 5px 8px; /* 标题栏变小后，可能需要减小内边距以保持视觉上的平衡 */
    overflow-x: auto;
}
/*[class^="language-"].highlighter-rouge .highlight,*/
/*[class*=" language-"].highlighter-rouge .highlight {*/
/*    padding: 0; !* 移除内边距 *!*/
/*    border: none; !* 移除边框 *!*/
/*    !* 其他样式保持不变 *!*/
/*}*/
/* 为代码块添加标题栏的样式 */
/*.code-title-bar {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 0.5em 1em;*/
/*    background-color: #333;*/
/*    color: white;*/
/*}*/

/*!* 复制按钮的样式 *!*/
/*.copy-btn {*/
/*    padding: 0.5em 1em;*/
/*    background-color: #fff;*/
/*    color: #333;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;*/
/*}*/

/*.copy-btn:hover {*/
/*    background-color: #e9e9e9;*/
/*}*/

/*!* 调整代码块的样式 *!*/
/*.highlighter-rouge {*/
/*    background-color: #f9f9f9;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    margin: 1em 0;*/
/*    padding-top: 2.5em; !* 为标题栏留出足够的空间 *!*/
/*}*/

/*.highlighter-rouge pre {*/
/*    margin: 0;*/
/*    padding: 1em; !* 保持代码块内边距的一致性 *!*/
/*    overflow-x: auto; !* 水平滚动条 *!*/
/*}*/
