<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if page.title == "Home" %}{% include particles-home.html %}{% endif %}
  {% if page.title == "404" %}{% include particles-404.html %}{% endif %}

  <div class="container">
    <div class="row justify-content-center">
      {% if page.title == "Home" %}
        <div class="collections col col-sm-2 col-md-2 col-lg-2">
          {% include collection-list.html %}
        </div>
      {% endif %}

      <div class="col col-sm-9 col-md-9 col-lg-9">
        {{ content }}
      </div>
    </div>
  </div>

  <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.url }}"></script>
  {% if page.title != "404" %}
  <script src="{{ '/assets/js/darkmode.js' | prepend: site.url }}"></script>
  {% endif %}
  {% if page.title == "Home" or page.title == "404" %}
  <script src="assets/js/particles.min.js"></script>
  <script src="assets/js/main.js"></script>
  {% endif %}


<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://shawnjim.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</body>

</html>