<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if page.title == "Home" %}{% include particles-home.html %}{% endif %}
  {% if page.title == "404" %}{% include particles-404.html %}{% endif %}

  <div class="container">
    <div class="row justify-content-center">
      {% if page.title == "Home" %}
        <div class="collections col-11 col-sm-2 col-md-2 col-lg-2">
          {% include collection-list.html %}
        </div>
      {% endif %}

      <div class="col-10 col-sm-9 col-md-9 col-lg-9">
        {{ content }}
      </div>
    </div>
  </div>

  <!-- 回到顶部按钮 -->
  <button id="back-to-top" onclick="window.scrollTo({top: 0, behavior: 'smooth'});">{% include svg/dot-arrow-up.svg %}</button>
  <!-- 回到底部按钮 -->
  <button id="back-to-bottom" onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});">{% include svg/dot-arrow-down.svg %}</button>

  <script>
      // 当用户滚动页面时显示/隐藏按钮
      window.onscroll = function() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("back-to-top").style.display = "block";
          } else {
              document.getElementById("back-to-top").style.display = "none";
          }

          if (document.body.scrollTop < document.body.scrollHeight - window.innerHeight - 20 ||
              document.documentElement.scrollTop < document.documentElement.scrollHeight - window.innerHeight - 20) {
              document.getElementById("back-to-bottom").style.display = "block";
          } else {
              document.getElementById("back-to-bottom").style.display = "none";
          }
      };
  </script>


  <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.url }}"></script>
  {% if page.title != "404" %}
  <script src="{{ '/assets/js/darkmode.js' | prepend: site.url }}"></script>
  {% endif %}
  {% if page.title == "Home" or page.title == "404" %}
  <script src="assets/js/particles.min.js"></script>
  <script src="assets/js/main.js"></script>
  {% endif %}

</body>

</html>