---
layout: default
---

<article>
  {% include header.html %}
  <main>
    <h1 class="post-title">{{ page.title }}</h1>

<!--    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date"> {{ post.date | date: "%Y-%m-%d" }} </time>-->
    <p class="lead">{{ page.lead }}</p>

    <div class="article-stats">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%Y-%m-%d" }}</time>
        <span class="word-count"><i>{% include svg/code.svg %}</i> 字数：{{ page.content | number_of_words }} 字</span>
        <span class="reading-time"><i>{% include svg/timer.svg %}</i> 阅读时长：约 {{ page.content | number_of_words | divided_by:180 }} 分钟</span>
        <span class="word-count" id="busuanzi_container_page_pv"><i>{% include svg/eye.svg %}</i>阅读<span id="busuanzi_value_page_pv"></span>次</span>
    </div>
    <p></p>

    {{ content }}
  </main>

    <div class="pagination">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="previous">{% include svg/nav-arrow-left.svg %} 上一页</a>
        {% else %}
        <span class="previous disabled">{% include svg/nav-arrow-left.svg %} 上一页</span>
        {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="next">下一页 {% include svg/nav-arrow-right.svg %}</a>
        {% else %}
        <span class="next disabled">下一页 {% include svg/nav-arrow-right.svg %}</span>
        {% endif %}
    </div>

    {% include disqus.html %}
    {% include footer.html %}
</article>
