---
layout: default
---

<article id="search">
  {% include header.html %}

    <!-- content -->
    <main style="flex: 3;">
      {{ content }}
    </main>

    <!-- 以下是搜索页面的内容 -->
    <input type="text" id="search-input" placeholder="搜索...">
    <div id="search-results"></div>

    <script src="/assets/js/lunr.js"></script>
    <script src="/assets/js/lunr.stemmer.support.js"></script>
    <script src="/assets/js/lunr.zh.js"></script>
    <script>
      /* load wasm module */
      const _load_wasm_jieba = async () => {
        if (window.cut !== undefined) return;
        /* load jieba*/
        const {
            default: init,
            cut
          } = await import("/assets/js/jieba_rs_wasm.js");
        await init();
        window.cut = cut;
      }

      // 加载 search.json 并构建索引
      fetch('/search.json')
        .then(response => response.json())
        .then(async data => {
          // 确保 jieba-wasm 已加载和初始化
          await _load_wasm_jieba();

          var idx = lunr(function () {
            this.use(lunr.zh)
            this.ref('url');
            this.field('title');
            this.field('content');

            data.forEach(function (doc) {
              this.add(doc);
            }, this);
          });

          // 搜索函数
          function search(query) {
            var results = idx.search(query); // 执行搜索
            displayResults(results, data, query);
          }

          // 显示搜索结果的函数
          function displayResults(results, data, query) {
            var resultsDiv = document.getElementById('search-results');
            resultsDiv.innerHTML = ''; // 清空之前的搜索结果

            if (results.length > 0) {
              // 如果有搜索结果，遍历并显示
              results.forEach(function(result) {
                var item = data.find(function(doc) {
                  return doc.url === result.ref;
                });

                // 创建一个链接元素并添加到结果列表
                var link = document.createElement('a');
                link.href = item.url;
                link.innerHTML = '<strong>' + item.title + '</strong>';
                resultsDiv.appendChild(link);

                // 创建一个内容摘要元素并添加到结果列表
                var contentSummary = document.createElement('p');
                var content = item.content;
                var startIndex = content.toLowerCase().indexOf(query.toLowerCase());
                if (startIndex >= 0) {
                  var endIndex = Math.min(startIndex + 100, content.length);
                  contentSummary.innerHTML = '... ' + content.substring(startIndex, endIndex) + ' ...';
                } else {
                  contentSummary.innerHTML = content.substring(0, 100) + '...';
                }
                resultsDiv.appendChild(contentSummary);

                // 添加换行符以分隔结果
                resultsDiv.appendChild(document.createElement('br'));
              });
            } else {
              // 如果没有搜索结果，显示提示信息
              resultsDiv.textContent = '没有找到相关结果';
            }
          }

          // 监听搜索输入
          document.getElementById('search-input').addEventListener('input', function() {
            var query = this.value;
            search(query);
          });
        });
    </script>

  {% include footer.html %}
</article>